name: build-test-deploy
on: push
jobs:
  build: 
    runs-on: ubuntu-latest

    steps:
       - name: checkout repo
         uses: actions/checkout@v4

       - name: Setup the node 
         uses: actions/setup-node@v4
         with:
           node-version: '20.x'

       - name: Build step
         run: |
           npm install
           npm run build

  test: 
    runs-on: ubuntu-latest
    needs: build
    steps:
       - name: checkout repo
         uses: actions/checkout@v4

       - name: Setup the node 
         uses: actions/setup-node@v4
         with:
           node-version: '20.x'

       - name:  Testing
         run: |
           npm install
           npm run test
           
          
